{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <div class="card-body">
                        <h4>Student Information</h4>
                        <p><strong>Name:</strong> {{ student.admin.first_name }} {{ student.admin.last_name }}</p>
                        <p><strong>SN:</strong> {{ student.id }}</p>
                        <p><strong>Email:</strong> {{ student.admin.email }}</p>

                        <h4>Subject Details</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Subject</th>
                                    <th>Staff</th>
                                    <th>Attendance</th>
                                    <th>Assignment Status</th>
                                    <th>NOC Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for noc in results %}
                                <tr>
                                    <td>{{ noc.subject }}</td>
                                    <td>{{ noc.staff }}</td>
                                    <td>{{ noc.attendance }}</td>   
                                    <td>{{ noc.submission }}</td>
                                    <td>{{ noc.signature_of_staff }}</td>   
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
